language: python
python:
- '3.6'
script:
- python -m unittest discover
before_deploy:
- mkdir dist
- cp -rf src/ dist/
- cp -rf ~/virtualenv/python3.6.2/lib/python3.6/site-packages/** dist/
- cd dist
- zip -r pack.zip .
deploy:
  provider: lambda
  role: arn:aws:iam::913654952177:role/sls-dev-us-east-1-lambdaRole
  runtime: python3.6
  function_name: sls-dev-charge
  handler_name: handler
  zip: dist/pack.zip
  access_key_id: AKIAJ4QU3L4BHIGX7DYQ
  # secret_access_key:
  #   secure: EMcEB3u+AnLVn+qr9orN4WPZKeasFycS+MqhdVakGGU2V1PHMtejBhYaWRG4x9PRH/JUb4+aPy+TQxM5bAFVgsmZL+JR+qYaptqhNW5BwP/gjDGOesNuSigQ83Rf8eJ9IfYAT3gKIeMCZpZ/YW5/SdTmPx8NqiPXhZBCpSwTUy2skcBR6agdCa1gaAD6GjcC5sTZnTqMe9er1nycWMKcj6CR0q4WoD254B0M3iS6ods9HDXxv1dYoi9zlQStlg5ZZ6ChMyEeoYEIjWjLzwTDHCvBXB2JbRYl8rADBlGGAi2I6gTK3QIwAp0dzbytPNju7MMfpL6WMsjYur/muP1s4cCa1vcggZCIcZq90rSiqS1tRVycf7193bMbKaPLnFGPjJQ+z3Jbs9WWoUzMtrsukQPUO0DYeX68zxtWGbL9Bf0fD5B/GAzKRzlMRiNP5mSAz5hHR17IzoaFmvSN0NwocZxMauTV52Lr93VpA4h6rG/ehmg7kJvZjd8L6/jfNFOzr3DbLBn+HfXChGHFlZMvHUcRE933QkK67wVNcFSscewvT9Qs98BqtcCiNBXJhZeMknrB0GuTgRcmvgkVMDrz7/fWMmLYZX/AtgLVIOsvlwhCBWUdFGHm6RdPvAyDzN+fb/U4vbsVstEW2PFfBkRKqarMeGHTH3tIMphWM3mxzEQ=